<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .container{
        margin: 50px 0;
           display: flex;
           justify-content: center;
           padding: 0 10px 10px 0;
       }
       .login-form{
        width: 290px;
            height: 450px;
            border: 3px solid red;
            padding: 0 0 0 60px;
       }
       label{
            padding: 0 30px 10px 0;
        }

        .username{
            padding: 20px 10px 10px 0px;
            
        } 
        .user-input{
            padding: 0 10px 10px 0px;  
        }

        .user-password{
            padding: 0 10px 10px 0px;   
        }

        input{
            padding: 5px 8px 8px 40px;
        }

        .control-btn{
            display: flex;
            gap: 60px;
        }
        .home{
            width: 85px;
            height: 25px;
            /* border: 1px solid blue; */
            padding: 5px  5px 5px 7px;
            background: red;
            border-radius: 15px;
        }
        .page{
            color: white;
            font-size: 17px;
            font-weight: 100;
        }
        .reg-btn{
            width: 80px;
            height: 25px;
            /* border: 1px solid blue; */
            background:grey; 
            border-radius: 15px;
            text-align: center;
            padding: 5px  5px 5px 7px;
        }
        .new{
            color: white;
            font-size: 19px;
            font-weight: bolder;
        }
        .submit-btn{
            padding: 8px 20px 8px 20px;
            border-radius: 15px;
        }

    </style>
</head>
<body>

    <div class="container">
        <div class="login-form">
            <h1>LOGIN</h1>
        
            <% if (error.length > 0) { %>
             <div class="alert alert-danger">
               <%= error %>
             </div>
           <% } %>
          
           
            <%= messages %>
         <form action="/login" method="POST">
             <div class="username">
                 <label for="username">Username</label>
                 <div class="user-input">
                     <input type="text" name="username" id="username" placeholder="username">
                 </div>
             </div>
             <div>
                 <label for="password">Password</label>
                 <div class="user-password">
                     <input type="password" name="password" id="password" placeholder="password">

                 </div>
             </div>

             <div class="control-btn">
                <button class="submit-btn">Submit</button>
                <div class="home">
                    <a href="/" class="page">Home Page</a>
                </div>
            </div>


            
             <span class="registration">
                 <p>if you do not have an Account Register</p>
                 <div class="reg-btn">
                     <a href="/register" class="new">Register</a> 

                 </div>

             </span>


           
         </form>
        </div>

    </div>

 
</body>
</html>



<form action="/login" method="POST">
   
  </form>