<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: 50px 0;
           display: flex;
           justify-content: center;
           padding: 0 10px 10px 0;
        }
        .register-form{
            width: 290px;
            height: 450px;
            border: 3px solid red;
            padding: 0 0 0 60px;

        }

        form{
            padding: 0 10px 10px 0;
        }
        label{
            padding: 0 30px 10px 0;
        }
        .user-input{
            padding: 0 10px 10px 0px;  
        }
        .username{
            padding: 0 10px 10px 0px;
            
        }
        .user-email{
            padding: 0 10px 10px 0px;    
        }
        .user-password{
            padding: 0 10px 10px 0px;   
        }
        input{
            padding: 5px 8px 8px 40px;
        }
        .reg-submit{
            padding: 8px 20px 8px 20px;
            border-radius: 15px; 
        }
        .content-log{
            width: 80px;
            height: 25px;
            /* border: 1px solid blue; */
            background:grey; 
            border-radius: 15px;
            text-align: center;
            padding: 5px  5px 5px 7px;
        }
        .new-log{
            color: white;
            font-size: 19px;
            font-weight: bolder;
        }

    </style>
</head>
<body>


    <div class="container">
        <div class="register-form">
            <h1>REGISTER</h1>
            <%= messages %>
         <form action="/register" method="POST">
             <div class="username">
                <label for="usernam">Username</label>
                <div class="user-input">
                    <input type="text" name="username" id="username" placeholder="username" required>
                </div>
             </div>
             
             <div class="email">
                 <label for="email">Email</label>
                 <div class="user-email">
                     <input type="text" name="email" id="email" placeholder="email" required>
                 </div>
             </div>
     
             <div class="password">
                 <label for="password">Password</label>
                 <div class="user-password">
                     <input type="password" name="password" id="password" placeholder="password" required>

                 </div>
             </div>
             <button class="reg-submit">Submit</button>
             <span class="registration">
                <p>if you have an Account Login</p>
                <div class="content-log">
                    <a href="/login" class="new-log">login</a> 

                </div>

            </span>
         </form>
        </div>

    </div>


</body>
</html>